
.icon-mail:before { content: '\e800'; } /* '' */
.icon-direction-outline:before { content: '\e801'; } /* '' */
.icon-users-outline:before { content: '\e802'; } /* '' */
.icon-user-outline:before { content: '\e803'; } /* '' */
.icon-phone-outline:before { content: '\e804'; } /* '' */
.icon-location-outline:before { content: '\e805'; } /* '' */