@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap");
@import url("fontello.css");

:root {
  font-family: "Texturina", serif;
  box-sizing: border-box;
  --primary-color: #0093d0;
  --primary-dark-color: #00669f;
  --primary-light-color: #5ec3ff;
  --secondary-color: #dd5e10;
  --secondary-dark-color: #a42e00;
  --secondary-light-color: #ff8e43;
  --dark-gray: #1e1e1e;
  --light-gray: #f2f2f2;
  --middle-gray: #b1b1b1;
  --error-color: #c53a20;
}

body{
    background-color: var(--dark-gray);
}

#view,.profile{
    background-color: var(--light-gray);
}

h1,
h2,
h3 {
  color: var(--primary-dark-color);
}

p, form {
  color: var(--dark-gray);
}

input{
    outline-color: var(--primary-light-color);
}

.error{
    color:var(--error-color);
}

#Send{
    background-color: var(--secondary-color);
    color: var(--light-gray);
}

#Send:hover{
    background-color: var(--secondary-light-color);
}

.card{
    box-shadow: 0px 0px 2px var(--dark-gray);
}

.card:hover{
    box-shadow: 0px 0px 5px var(--secondary-dark-color);
}